<head>
    <meta charset="utf-8">
    <link rel="preload" href="assets/fonts/OpenSans-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="assets/fonts/OpenSans-Regular.woff2" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="assets/fonts/OpenSans-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="assets/fonts/OpenSans-Bold.woff2" as="font" type="font/woff" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Customer Name">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <title>@@title</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#000">
</head>