//REBOOT
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans',"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
}

a,button{
  &:focus{
    outline: none;
  }
}

picture {
  display: block;
  max-width: 100%;
  height: auto;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.disabled {
  pointer-events: none;
}

figure{
  margin: 0;
}